* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(https://media.istockphoto.com/vectors/abstract-landscape-background-with-japanese-wave-pattern-vector-vector-id1319938563?k=20&m=1319938563&s=612x612&w=0&h=xrMy9FYU3fHyGE_ke-16Lij74qPXJx72mXq-_Zd7zdU=);
}