/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Finlandica:wght@400;500&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Finlandica', sans-serif;
  background-image: url(https://media.istockphoto.com/vectors/sushi-coloring-page-vector-seamless-pattern-vector-id914286654?b=1&k=20&m=914286654&s=612x612&w=0&h=HHpraE4XPwENragLm16If6aQkQImorhIbMZzCfTYAvQ=);
  display: flex;
  justify-content: center;
  align-items: center;
  
}

h1, .btn-link, li{
  font-weight: 500;
}

.container{
  margin: 30px;
  padding: 10px 15px 0 15px;
  width: 750px;
  /* Blur from https://css.glass */
  background: rgba(255, 255, 255, 0.27);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border: 1px solid rgba(255, 255, 255, 0.3); 
}

h1{
  text-align: center;
  font-size: 60px;
  margin-bottom: 10px;
  color: #000;
}

img{
  display: block;
  margin: 0 auto;
  width: 600px;
  height: auto;
  object-fit: cover;
  background-position: center;
  border-radius: 10px;
}

.btn-wrapper{
  display: flex;
  justify-content: center;
}

.btn-wrapper .btn-link{
  text-decoration: none;
  font-size: 20px;
  color: #000;
  border: 3px solid #000;
  border-radius: 25px;
  padding: 10px;
  margin: 10px;
}

ol, ul{
  margin-left: 25px;
}

li{
  font-size: 18px;
}