* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(https://www.crushpixel.com/big-static16/preview4/cartoon-cute-hand-drawn-japan-2335452.jpg);
  background-repeat: repeat;
  background-size: cover;
  height: 100vh;
}

img {
  width: 640px;
  height: 480px;
  object-fit: cover;
}